/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {

}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.logo__header {
		width: 220px;
	}
	.h1-style {
		font-size: 30px;
	}
	.logo__footer {
		width: 150px;
	}
	.footer__container {
		font-size: 10px;
	}
}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	body {
		font-size: 12px;
	}
	.icon-cell {
		padding: 0;
	}
	.logo__header {
		width: 190px;
	}
	.h1-style {
		font-size: 25px;
	}
	.h2-style {
		font-size: 20px;
	}
	.logo__footer {
		margin: 10px;
		width: 250px;
	}
	.footer__container {
		font-size: 9px;
	}
	.img-linkedin {
		margin: 10px;
		width: 25px;
	}
	.f320 {
		text-align: center;
		font-size: 14px;
	}
/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

	
}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
